DATABRICKS_CONFIG_PROFILE=dbc-d3858b75-976f
DATABRICKS_HOST=
DATABRICKS_TOKEN=
MODEL_URI=models:/mlops_dev.finance.finance_lstm_model_basic@latest-model
MODEL_OWNER=grupo-mlet-tc05
MODEL_RISK_LEVEL=medium
MODEL_FAIRNESS_CHECKED=false
